body {
    background-color: honeydew;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1460px;
    width: 100%;
    padding: 20px;
    margin: 0;
}

.menu {
    text-decoration: underline;
    color: rebeccapurple;
    font-size: 18px;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 0;
}

.title {
    text-decoration: overline;
    color: blueviolet;
    text-align: center;
}

.menu-list {
    list-style-type: circle;
    color: rebeccapurple;
    list-style-position: inside;
    text-align: left;
    padding-left: 0;
    margin-top: 12px;
}

.home-description, .about-description, .anchors-description{
    font-style: oblique;
    margin-top: 24px;
    text-align: left;
}

video, .about-cat {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.articles-title, .volunteer-requirements-title {
    font-size: 18px;
    color: purple;
    text-transform: uppercase;
    text-align: center;
}

.articles-description {
    list-style-type: lower-greek;
}

.anchors-cat {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.volunteer-requirements-list {
    list-style-position: outside;
    list-style-type: square;
    text-transform: lowercase;
}

.idiom {
    color: #0000ee;
    text-decoration: underline;
}

.contacts-table {
    display: flex;
    border: 3px solid blueviolet;
    padding-left: 10px;
}

.contact-information, .details {
    width: 30%;
}

.gallery {
    margin-top: 42px;
    width: 100%;
}

.first-line-images, .second-line-images {
    display: flex;
}

.cat-1, .cat-2, .cat-3, .cat-4, .cat-5, .cat-6 {
    width: 30%;
}

.personal-information-form, .choosing, .comments{
   border: 2px solid purple;
   border-radius: 10px;
   display: flex;
   margin: 20px;
}

.name, .email, .phone, .button-submit {
    margin-right: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.button-submit {
    padding: 1px 30px;
    font-size: 14px;
    background: rgb(183, 143, 220);
    border-radius: 30px;
    box-shadow: 10px 5px 5px #ccc;
}

.apply {
    margin-left: 12px;
    background: rgb(183, 143, 220);
    border-radius: 30px;
    padding: 1px 30px;
}

.choosing {
    padding-top: 12px;
    padding-bottom: 12px;
}

.comments-label {
    margin-right: 20px;
}

.sent {
    margin-left: 20px;
    background: rgb(183, 143, 220);
    border-radius: 30px;
    padding: 1px 30px;
    box-shadow: 10px 5px 5px #ccc;
}

footer {
    font-size: 13px;
    text-align: center;
    margin-top: 24px;
    font-weight: 700;
}